server:
  port: 10011
spring:
  application:
    name: cloud-gateway
  cloud:
    gateway:
      routes:
      - id: user-service-route
        uri: lb://user-service
        predicates:
        - Path=/user/**

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:10086/eureka/